/* Less than 1200px */

@media (max-width:1199px) {
    .contact {
        padding: 60px 0;
    }
    .contact-image {
        max-width: 570px;
    }
}


/* Less than 992px */

@media (max-width:991px) {
    .navbar-nav {
        margin-right: 20px;
    }
    .navbar-default .navbar-nav li {
        margin-left: 15px;
    }
    .fact-area:after {
        right: -60px;
    }
    .about-laws-tabs .tab-content h3 {
        margin-bottom: 25px;
    }
    .about-laws {
        padding-bottom: 60px;
    }
    .col-sm-12 .testimonial-area {
        margin-top: 60px;
    }
    .contact .section-title {
        text-align: center;
    }
    .footer-left {
        margin: 0 0 60px;
        text-align: center;
    }
    .comment-metadata,
    .comment-content {
        margin-left: 110px;
    }
    .parents .children {
        float: left;
        margin-left: 50px;
    }
    #googleMap {
        height: 300px;
    }
    .topbar .social {
        text-align: center;
    }
    .phone-father{
        text-align: center;
    }
}

@media (min-width: 768px) {
    .dropdown-menu {
        background-color: rgba(59, 59, 59, 0.85);
        min-width: 235px;
        border-radius: 0;
        padding: 15px 0;
        display: block !important;
        opacity: 0;
        transform: rotateX(90deg);
        transform-origin: top;
        transition-duration: 0.3s;
    }
    .dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: rotateX(0);
    }
    .navbar-default .navbar-nav .dropdown-menu li {
        margin: 2px 0;
        padding: 0;
    }
    .navbar-default .navbar-nav .dropdown-menu>li a {
        padding: 12px 30px;
        font-size: 13px;
        line-height: inherit;
    }
    .dropdown-menu>li>a:hover {
        background-color: rgba(59, 59, 59, .8);
    }
}

@media (max-width:767px) {
    .topbar {
        height: auto;
    }
    .topbar .top-block {
        line-height: 25px;
    }
    .main-nav:before {
        width: 80%;
        left: -40px;
    }
    .navbar-default {
        width: 100%;
        padding-right: 20px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 40px;
        margin-bottom: 0;
        border-color: #fff;
        background-color: transparent !important;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse {
        background-color: #c53746;
        position: absolute;
        width: 100%;
        right: 0;
        max-width: 320px;
        max-height: 360px;
        overflow: auto;
    }
    .static-xs,
    .main-nav .navbar {
        position: static;
    }
    .navbar-nav {
        margin-right: 0;
        display: block;
        width: 100%;
    }
    .navbar-default .navbar-nav li {
        margin-left: 0;
    }
    .navbar-default .navbar-nav>li a {
        line-height: 45px;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-default .navbar-nav li a:hover:after{
        width: 0;
    }
    .navbar-default .navbar-nav li.open> a:after{
        width: 100%;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff;
    }
    .header-slide {
        height: 520px;
    }
    h1 {
        font-size: 3.6rem;
    }
    .fact-area {
        text-align: center;
    }
    .fact {
        text-align: center;
        margin-bottom: 30px;
    }
    .fact-area:after {
        right: -245px;
        width: 100%;
    }
    .about-laws-tabs .nav-tabs {
        display: block;
    }
    .about-laws-tabs .nav-tabs li {
        display: block;
        width: 100%;
    }
    .about-laws-tabs .tab-content .col-md-4+.col-md-4 {
        margin-top: 30px;
    }
    .from-blog {
        margin-bottom: 40px;
    }
    .rounded-iconic-accor .panel-title {
        font-size: 1.6rem;
    }
    .promo:before {
        width: 100%;
    }
    .promo p,
    .promo h3 {
        margin-left: 0;
    }
    .footer-widgets {
        margin-bottom: -30px;
    }
    .footer-widget {
        margin-bottom: 30px;
    }
    .blog-thumb img {
        width: 100%;
    }
    .post-part .col-sm-6+.col-sm-6 {
        margin-top: 30px;
    }
    .side-bar {
        float: left;
        width: 100%;
        margin-top: 30px;
    }
    .page-header {
        height: 260px;
    }
    .topbar ul li {
        padding-left: 8px;
    }
    .footer-address .row {
        padding: 20px 0 20px 25%;
    }
    .footer-social li {
        top: 10px;
    }
}

@media (max-width:500px) {
    .cases-wrap .filture li {
        display: block;
        margin-top: 10px;
        padding: 0 15px;
    }
    .cases-wrap .filture li button {
        width: 100%;
        display: block;
    }
    #case-shorted>[class*=col-] {
        width: 100%;
    }
}
