/*=======================================================================
* Template Name: B&B Law
* Template URI: http://codepassenger.com/html/bnb
* Author: CodePassenger
* Author URI: http://codepassenger.com/
* Description: B&B Responsive Law Business HTML5 Template by ThemeBeer
* Version: 2.0
* License: GPL v2 or later
* License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
* Tags: html, template, law, attorny, advocate, business, court
======================================================================= */

/*------------------------------------------------------
Table of content
--------------------------------------------------------
1. General
2. Pre Loader
3. Button
4. Header
5. Header Slider
6. Intro
7. Service
8. Facts
9. About Laws
10. Legal Practice
11. Home Blog Area
12. Promo
13. Clients
14. Team
15. Contact
16. Footer
17. Pages
18. Single Law Page
19. Case Page
20. Blog Page
21. Blog Single Page
22. Contact Page
------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------
General
--------------------------------------------------------------------------------------------------------------*/
html{
    font-size: 62.5%;
    font-smoothing: antialiased;
    -webkit-font-smoothing:antialiased;
}
body{
    font-size: 1.3rem;
    line-height: 100%;
    color: #b1b1b1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .025em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 0 20px;
    color: #404040;
	line-height: 100%;
}
h1{
    font-size: 7.2rem;
    color: #ffffff;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.8rem;
    font-weight: 400;
}
h5{
    font-size: 1.3rem;
}
h6{
    font-size: 2.4rem;
    color: #ffffff;
}
p{
    line-height: 1.8rem;
}
p:last-child, p:only-child{
    margin-bottom: 0;
}
a {
    font-family: 'PT Serif', serif;
    text-decoration: none;
}
a:hover, 
a:focus, 
a:active {
    text-decoration: none;
	-webkit-outline: none;
	-moz-outline: none;
	-o-outline: none;
	outline: none;
}
img{
    max-width: 100%;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.rounded-angle{
    list-style: none;
}
.rounded-angle li {
    position: relative;
    padding-left: 28px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 15px;
}
.rounded-angle li:before {
    content: "\3d";
    position: absolute;
    font-family: 'ElegantIcons';
    left: 0;
    top: 0;
    color: #c53746;
}
.section-padding{
    padding: 80px 0;
}
.row>.section-padding{
    float: left;
    width: 100%;
}
.row>.section-padding+.section-padding{
    padding-top: 0;
}
.fantasy-bg{
    background-color: #fdf7f7;
}
.bg-style{
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}
.bg-style:before, .bg-style:after{
    z-index: 0;
}
.bg-style *{
    z-index: 1;
}
.bg-style:before{
    background: rgba(56, 70, 174, 0.78);
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
}
.red{
    color: #c53746;
}
.section-title {
    margin-bottom: 50px;
}
.subsection-title {
    margin-bottom: 40px;
}
.bc-red {
    background: #C53746;
}
.bc-light {
    background: #FDF7F7;
}

/*--------------------------------------------------------------------------------------------------------------
Pre Loader 
--------------------------------------------------------------------------------------------------------------*/
#sitePreloader {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    color: #524D48;
}

#pre-loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(rgba(175, 55, 67, 1) -40%, rgba(159, 63, 73, 0.3) 60%);
    animation: rotate-right 1.8s linear infinite;
}

#pre-loader #spinner {
    padding: 5px;
    animation: rotate-left .6s linear infinite;
}

#spinner:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f1f1f1;
}

@keyframes rotate-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/*--------------------------------------------------------------------------------------------------------------
Button
--------------------------------------------------------------------------------------------------------------*/
.btn{
    position: relative;
    transition: all 0.3s ease;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    font-weight: 400;
    background-color: #c53746;
    color: #ffffff;
    overflow: hidden;
    line-height: 52px;
    padding: 0 20px 0 25px;
    font-family: 'PT Serif', serif;
    font-size: 1.6rem;
}
.btn i{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 52px;
    position: relative;
    z-index: 2;
}
.btn:after {
    content: "";
    background-color: rgba(196, 98, 108, .60);
    width: 60px;
    height: 70px;
    top: -8px;
    right: -14px;
    transform: skew(22deg);
    position: absolute;
    overflow: hidden;
    transition: all .3s ease;
    z-index: 1;
}
.btn:hover, .btn:focus, .btn:visited{
    color: #ffffff;
}
.btn:hover:after {
    width: 68px;
}

.section-btn{
    margin: 45px auto 0;
    float: none;
}

/*--------------------------------------------------------------------------------------------------------------
Header
--------------------------------------------------------------------------------------------------------------*/
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.topbar {
    height: 40px;
    background: rgba(56, 70, 174, .78);
}
.topbar .top-block {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 10px;
    line-height: 40px;
}
.topbar .social {
    text-align: right;
}
.topbar ul li {
    display: inline-block;
    padding-left: 40px;
    line-height: 40px;
    font-size: 25px;
}
.topbar ul li a {
    color: #fff;
}

/*** Main Nav ***/
.main-nav {
    height: auto;
    /*background: rgba(197, 55, 70, .85) !important;*/
    position: relative;
    box-shadow: 0 0 1px #cecece;
}
.main-nav:before {
    content: " ";
    position: absolute;
    background: #fff;
    width: 35%;
    height: 100%;
    transform: skewX(-42deg);
    left: -43px;
    border-right: 14px solid #c86973;
}
.main-nav .logo {
    margin: 10px 0;
    display: inline-block;
}
.main-nav .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}
.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav li {
    margin: 0;
    padding: 0;
    margin-left: 30px;
}
.navbar-default .navbar-nav > li a {
    color: #fff;
    padding: 0;
    line-height: 80px;
    font-size: 1.6rem;
    position: relative;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	background: transparent;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
}
.navbar-default .navbar-nav li a:after,
.navbar-default .navbar-nav li.active a:after {
    content: '';
	position: absolute;
	width: 0;
	height: 5px;
	background: #C96974;
	bottom: 0;
	left: 0;
	transition: all 0.3s ease;
}
.navbar-default .navbar-nav li a:hover:after,
.navbar-default .navbar-nav li.active a:after {
   width: 100%;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: transparent;
    color: #ffffff;
}
.dropdown:focus{
    outline: none;
}
.navbar-default .navbar-nav li .dropdown-menu a:after{
    content: none;
}

/*** Search ***/
.search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}
.search-trigger {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
}
.search-trigger:before{
    content: "\55";
    font-family: 'ElegantIcons';
}
.search-form {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    white-space: nowrap;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 1px #cecece;
    color: #000000;
}
.search-form:before{
    content: "";
    position: absolute;
    bottom: 98%;
    right: 0;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.sb-search-input{
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    min-width: 220px;
    border: none;
}
.sb-search-input:focus{
    outline: none;
}
.sb-search-submit{
    color: #c53746;
    border: none;
    background-color: transparent;
    line-height: 30px;
    height: 30px;
}

/*--------------------------------------------------------------------------------------------------------------
Header Slider
--------------------------------------------------------------------------------------------------------------*/
.header-slide {
    height: 650px;
    background-position-y: 80px !important;
}
.header-slide-1{
    background-image: url(../../images/slider/1.jpg);
}
.header-slide-2{
    background-image: url(../../images/slider/2.jpg);
}
.header-slider .owl-buttons > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 60px;
    font-size: 4rem;
    color: ffffff;
    opacity: 0 !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    padding: 36px 0;
}
.header-slider:hover .owl-buttons > div {
    opacity: 1 !important;
}
.header-slider .owl-buttons .owl-prev{
    left: 0;
}
.header-slider .owl-buttons .owl-next{
    right: 0;
}
.slide-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-top: 60px;
}
.slide-content h1{
    text-transform: uppercase;
    line-height: 1.2;
    color: #ffffff;
}
.slide-content h3{
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 29px;
    font-weight: 400;
}
.slide-content .btn{
    margin-top: 25px;
}

/*--------------------------------------------------------------------------------------------------------------
Intro
--------------------------------------------------------------------------------------------------------------*/
.intro h2{
    margin-bottom: 25px;
}
.intro img{
    margin-top: 25px;
}

/*--------------------------------------------------------------------------------------------------------------
Service
--------------------------------------------------------------------------------------------------------------*/
.services{
    float: left;
    width: 100%;
    margin-bottom: -30px;
}
.single-service{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.service-icon{
    display: inline-block;
    font-size: 4rem;
    margin-right: 20px;
    vertical-align: middle;
}
.service-title{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.service-body{
    margin-top: 20px;
}

/*--------------------------------------------------------------------------------------------------------------
Facts
--------------------------------------------------------------------------------------------------------------*/
.fact-area{
    
    padding: 68px 0;
}
.fact-area:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 243, 244, 0.06);
    width: 40%;
    height: 100%;
    top: 0;
    right: -126px;
    transform: skewx(-42deg);
    border-left: 12px solid rgba(255, 243, 244, 0.05);
    
}
.fact-counter{
    color: #ffffff;
    margin-bottom: 10px;
}
.fact-name{
    color: #ffffff;
}

/*--------------------------------------------------------------------------------------------------------------
About Laws
--------------------------------------------------------------------------------------------------------------*/
.about-laws{
    position: relative;
}
.about-laws:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 107px;
    background-color: #FDF8F8;
}
.about-laws-tabs .nav-tabs {
    border: none;
    position: relative;
    background: #FDF8F8;
    z-index: 2;
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.about-laws-tabs .nav-tabs li {
    display: table-cell;
    text-align: center;
    border: 1px solid #fdecee;
    margin-bottom: 0px;
    border-radius: 0;
    float: none;
    height: 107px;
    vertical-align: middle;
    width: 20%;
}
.about-laws-tabs .nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 107px;
    position: relative;
    color: #404040;
    letter-spacing: 0.325px;
    line-height: 18px;
    padding: 25px 15px 0;
}
.about-laws-tabs .nav-tabs>li>a i{
    display: block;
    font-size: 2.5rem;
    line-height: 100%;
    margin-bottom: 5px;
    color: #c53746;
}
.about-laws-tabs .nav-tabs > li.active > a, .about-laws-tabs .nav-tabs > li.active > a:hover, .about-laws-tabs .nav-tabs > li.active > a:focus, .about-laws-tabs  .nav>li>a:focus, .about-laws-tabs  .nav>li>a:hover {
    color: #555;
    background-color: #fcedef;
    border: none;
}
.about-laws-tabs .nav-tabs > li > a:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #FCEDEF;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {
    opacity: 1;
}
.about-laws-tabs .tab-content {
    padding-top: 70px;
}
.about-laws-tabs .tab-content h3 {
    margin-bottom: 50px;
}

/*--------------------------------------------------------------------------------------------------------------
Legal Practice
--------------------------------------------------------------------------------------------------------------*/
.case{
    position: relative;
    display: block;
}
.case img{
    width: 100%;
    height: 143px;
}
.case-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    transition: all 0.3s ease;
}
.case:hover .case-content, .case-hover .case-content{
    height: 55px;
}
.case-content p{
    font-size: 1.6rem;
    color: #ffffff;
    margin: 18px 0 0 35px;
    transform: translateY(200px);
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}
.case:hover .case-content p, .case-hover .case-content p{
    transform: translateY(0);
}

/*--------------------------------------------------------------------------------------------------------------
Home Blog Area
--------------------------------------------------------------------------------------------------------------*/
.from-blog{
    position: relative;
}
.blog-thumb{
    display: block;
    position: relative;
}
.blog-title-home {
    font-weight: 600;
    line-height: 2.7rem;
    display: block;
    margin-top: 20px;
}
.blog-title-home a{
    color: inherit;
}
.post-date {
    position: absolute;
    left: -40px;
    top: 75px;
    width: 50px;
    height: 50px;
    background: #c53746;
    text-align: center;
    box-shadow: 4px 4px 0px 1px rgba(251, 251, 251, 0.3);
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    padding-top: 8px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}
.post-month {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

/*** Key Factor ***/
.rounded-iconic-accor {
    margin-bottom: 0;
}
.rounded-iconic-accor.panel-group{
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
}
.rounded-iconic-accor.panel-group .panel{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #f5f5f5 !important;
    box-shadow: none;
    background-color: transparent;
    padding-bottom: 10px;
}
.rounded-iconic-accor .panel-default > .panel-heading{
    color: #333;
    background: none;
    border-color: #ddd;
    padding: 10px 15px 10px 0;
}
.rounded-iconic-accor .panel-title{
    color: inherit;
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-top: 0;
}
.rounded-iconic-accor .panel-title a{
    color: inherit;
    line-height: 2.4rem;
    padding-left: 30px;
    position: relative;
    display: inline-block;
}
.rounded-iconic-accor .panel-title a:before{
    content: "\50";
    font-family: 'ElegantIcons';
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.rounded-iconic-accor .panel-title a[aria-expanded=true]:before{
    color: #D24856;
    content: "\4f";
}
.rounded-iconic-accor.panel-group .panel-heading + .panel-collapse > .panel-body, .rounded-iconic-accor.panel-group .panel-heading + .panel-collapse > .list-group{
    border: none;
    padding: 15px;
}
.rounded-iconic-accor .panel-body{
    font-size: 1.3rem;
    line-height: 1.8rem;
}

/*** testimonial ***/
.testimonial{
    background: #FDF7F7;
    padding: 20px;
    position: relative;
    margin-bottom: 100px;
}
.testimonial:before {
    content: "";
    position: absolute;
    background: #FCEDEF;
    right: -26px;
    top: 0;
    height: 100%;
    width: 46%;
    transform: skewX(-10deg);
    border-left: 12px solid #FCF2F3;
}
.testimonial:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #FCEDEF;
    position: absolute;
    bottom: -15px;
    z-index: 1;
    left: 75%;
}
.author-thumb {
    position: absolute;
    right: 40px;
    top: calc(100% + 23px);
}
.testimonial .name-text {
    position: absolute;
    right: 130px;
    top: calc(100% + 43px);
}
.testimonial .name-text h3 {
    margin-bottom: 5px;
}
.testimonial blockquote {
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
    color: #404040;
    padding: 75px 35px;
    margin: 0;
    border: none;
    position: relative;
}
.testimonial blockquote:before {
    content: "\7c";
    font-family: 'ElegantIcons';
    position: absolute;
    top: 35px;
    left: 15px;
    color: #C53746;
    font-style: normal;
    font-size: 30px;
}

/*--------------------------------------------------------------------------------------------------------------
Promo
--------------------------------------------------------------------------------------------------------------*/
.promo {
    background: url(../../images/bg/promo.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.promo:before {
    content: " ";
    position: absolute;
    background: rgba(197, 55, 70, 0.8);
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
}
.promo p,
.promo h3 {
    color: #fff;
    margin-left: 65px;
}

/*--------------------------------------------------------------------------------------------------------------
Clients
--------------------------------------------------------------------------------------------------------------*/
.clients {
    padding: 40px 0;
    text-align: center;
}

/*--------------------------------------------------------------------------------------------------------------
Team
--------------------------------------------------------------------------------------------------------------*/
.team-members{
    float: left;
    width: 100%;
    margin-bottom: -30px;
}
.member{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.member img{
    width: 100%;
}
.member-info {
    background: #fff;
    padding: 20px;
    padding-left: 35px;
    overflow: hidden;
    position: relative;
}
.member-info:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 40%;
    background: #fff3f4;
    right: -250px;
    top: 0;
    transform: skewX(-34deg);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.member:hover .member-info:after{
    right: -28px;
}
.member-info h3 {
    margin-bottom: 5px;
}

.member-info a i {
    position: absolute;
    font-size: 20px;
    color: #c01436;
    top: 35px;
    right: -19px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 99;
}
.member:hover .member-info a i {
    right: 30px;
    transition-delay: .4s;
}
#about-team p {
    margin-bottom: 1px;
}
/*--------------------------------------------------------------------------------------------------------------
Contact
--------------------------------------------------------------------------------------------------------------*/
.contact {
    background: url(../../images/bg/contact.jpg) no-repeat;
    padding: 130px 0 80px;
    background-size: cover;
    position: relative;
}
.contact-image {
    position: absolute;
    right: 110px;
    bottom: 0;
}
.contact .section-title {
    color: #fff;
}
.contact .contact-form {
    z-index: 9;
    position: relative;
}
.contact-form .form-control {
    background: none;
    border-radius: 0;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #7079c0;
}
.contact-form .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.contact-form .form-control:-ms-input-placeholder {
  color: #fff;
}
.contact-form .form-control::-webkit-input-placeholder {
  color: #fff;
}
.contact-form [type=submit]{
    margin-top: 20px;
}
.address-contact p{
    margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------
Footer
--------------------------------------------------------------------------------------------------------------*/
.footer-overlay {
    padding: 30px 0;
    background: #353535;
    position: relative;
}
.footer-overlay:before {
    content: "";
    position: absolute;
    background: rgba(59, 59, 59, .4);
    height: 100%;
    width: 45%;
    left: -120px;
    top: 0;
    -webkit-transform: skewX(28deg);
    -moz-transform: skewX(28deg);
    -o-transform: skewX(28deg);
    transform: skewX(28deg);
    border-right: 10px solid rgba(59, 59, 59, .6);
}
.footer-widgets{
    float: left;
    width: 100%;
}
.footer-widget{
    float: left;
    width: 100%;
}
.footer-widget h3{
    color: #fff;
    margin-bottom: 35px;
}
footer p, footer li, footer a, footer h5 {
    color: #717171;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}
footer h5 {
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-address .row {
    padding: 0 0 0 25%;
}
.footer-social li {
    display: inline-block;
    width: 20%;
    font-size: 40px;
    position: relative;
    top: 80px;
}
ul.social.footer-social {
    text-align: center;
}
.footer-left {
    margin-right: 150px;
}
.footer-left p {
    margin-top: 13px;
}
.footer-left .social{
    margin-top: 20px;
}
.footer-left .social li{
    display: inline-block;
}
.footer-left .social li a{
    font-size: 18px;
    line-height: 18px;
    color: #717171;
    display: block;
    padding-right: 8px;
}
footer li:hover a {
    color: #717171;   
}
footer .contact-infos{
    float: left;
    width: 100%;
    margin-bottom: -15px;
}
footer .contact-info {
    margin-bottom: 15px;
    position: relative;
    float: left;
    width: 100%;
}
footer .contact-icon {
    font-size: 1.6rem;
    display: inline-block;
    width: 20px;
    margin-right: 8px;
    vertical-align: middle;
    float: left;
    line-height: 1.8;
}
.contact-content{
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: calc(100% - 28px);
}
footer .custom-menu li {
    margin-bottom: 10px;
}
.copyright {
    background: #323232;
}

/*--------------------------------------------------------------------------------------------------------------
Pages
--------------------------------------------------------------------------------------------------------------*/
.page-header {
    height: 393px;
    background-size: cover;
    background-position: center center;
    padding: 0;
    margin: 0;
    position: relative;
}
.page-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    z-index: 2;
    color: #ffffff;
    transform: translateY(-50%);
    margin-top: 60px;
    margin-bottom: 0;
}
.page-content .page-item h3{
    font-size: 25px;
    line-height: 27px;
    margin-top: 40px;
}

/*--------------------------------------------------------------------------------------------------------------
Single Law Page
--------------------------------------------------------------------------------------------------------------*/
.law-page-header{
    background-image: url(../../images/bg/page-header.jpg);
}
.page-content .law-item h2 {
    margin-bottom: 40px;
}
.page-content .law-item h3 {
    font-size: 25px;
    line-height: 27px;
    margin-top: 40px;
}
.post-part{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.form-part{
    margin-top: 45px;
}
.comment-form input, .comment-form textarea {
    background: #fdf7f7;
    border: 1px solid #fdecee;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}
.side-bar aside {
    width: 100%;
    float: right;
    background: #fdf7f7;
    border: 1px solid #fdecee;
    padding: 40px;
    margin-bottom: 40px;
}
.side-bar aside h3 {
    font-size: 25px;
    line-height: 27px;
}
.side-bar p {
    color: #404040;
}
.side-bar p strong {
    font-size: 18px;
    margin-left: 5px;
}
.side-bar p small {
    color: #b1b1b1;
}
.side-bar aside li {
    position: relative;
    padding: 0 0 15px 25px;
}
.side-bar aside li a {
    color: #404040;
    font-family: 'Open Sans', sans-serif;
}
.side-bar aside li a:hover {
    color: #c53746;
}
.side-bar aside .categories li:before {
    content: "\3d";
    font-family: 'ElegantIcons';
    position: absolute;
    left: 0;
    color: #c53746;
}
.side-bar aside .social-icons li {
    display: inline-block;
    padding: 0;
    padding-right: 10px;
}
.social-icons li a i {
    color: #c53746;
}

/*--------------------------------------------------------------------------------------------------------------
Case Page
--------------------------------------------------------------------------------------------------------------*/
.mix {
    display: none;
    margin-bottom: 30px;
}
.cases-wrap .filture {
    text-align: center;
    margin-bottom: 60px;
}
.cases-wrap .filture li {
    display: inline-block;
    margin: 5px;
}
.cases-wrap .filture li button {
    color: #404040;
    font-family: 'PT Serif', serif;
    border: 1px solid #fdecee;
    background: #fdf7f7;
    padding: 10px 20px;
    outline: 0;
}
.case-hover {
    position: relative;
    margin-bottom: 30px;
}
.other-services h3 {
    margin: -6px 0 30px !important;
}
article .date {
    top: 15px;
}
.admin-family {
    background: #fdf7f7;
    padding: 15px 42px;
}
.admin-family .icon {
    color: #C53746;
    font-size: 16px;
}
.admin-family span {
    margin-right: 10px;
}

/*--------------------------------------------------------------------------------------------------------------
Blog Page
--------------------------------------------------------------------------------------------------------------*/
.pagination li a {
    border: 1px solid transparent;
    color: #c53746;
    border-radius: 0;
}
.pagination li a:hover, .pagination li a:focus {
    background: #fdf7f7;
    border: 1px solid #fdecee;
    color: #c53746;
}
.pagination li .active {
    background: #fdf7f7;
    border: 1px solid #fdecee;
}
.post-item {
    position: relative;
    margin-bottom: 40px;
}
.listing-title {
    font-size: 25px;
    line-height: 27px;
    margin-top: 40px;    
}
.listing-title a{
    color: inherit;
}
.post-item hr {
    border-color: #f1f1f1;
    width: 100%;
    margin: 30px 0;
}
.blogread {
    color: #c53746;
    font-weight: 600;
}
.post-item .post-date{
    top: 0px;
}

/*--------------------------------------------------------------------------------------------------------------
Blog Single Page
--------------------------------------------------------------------------------------------------------------*/
.comments-area ol {
    margin: 0;
    padding: 0;
}
.mrb-40{
    margin-bottom: 40px;
}
.comment-list .bc-red, .about-author .bc-red {
    padding: 25px;
}
.comments-area .comment-body, .about-author .author-body {
    margin-bottom: 10px !important;
    float: left;
    width: 100%;
}
.comment-meta, .author-meta {
    float: left;
    width: 100px;
    height: 80px;
}
.comment-meta .img-shadow, .author-meta .img-shadow {
    box-shadow: 7px 7px 0px 0px #D36974;
}
.comment-metadata, .comment-content, .author-metadata, .author-content {
    margin-left: 150px;
}
.comments-area h3, .about-author h3 {
    font-size: 18px !important;
    display: inline-block;
}
.comments-area .bc-red h3, .about-author .bc-red h3{
    margin-bottom: 10px;
    color: #ffffff;
}
.comments-area .bc-red h3, .comments-area .bc-red p,
.about-author .bc-red h3, .about-author .bc-red p,\{
    color: #fff;
}
.comment-content p, .author-content p {
    margin-top: 10px;
}
.titled-comment-number {
    margin: 30px 0 40px 0;
    float: left;
    width: 100%;
}
.comment-list .bc-light {
    padding: 25px;
    border: 1px solid #fdecee;
}
.comments-area .comment-body, .about-author .author-body {
    margin-bottom: 10px !important;
}
.parents .children {
    margin-left: 175px;
}
.comment-metadata h3{
    margin-bottom: 10px;
}
.comment-metadata span {
    font-size: 13px;
    color: #c53f4d;
    margin-left: 30px;
}

/*--------------------------------------------------------------------------------------------------------------
Contact Page
--------------------------------------------------------------------------------------------------------------*/
#googleMap {
    width: 100%;
    height: 380px;
}
