/*
Theme Name: Law
Theme URI: http://codepassenger.com/
Author: CodePassenger
Author URI: http://codepassenger.com/user/
Description: B&B Law and Attorney WordPress Theme.
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: law
Tags: left-sidebar, custom-menu, featured-images, post-formats

*/
/*
========================================================================
Index
------------------------------------------------------------------------

# -  1.0 - General Style
# -  2.0 - 404 page Style
# -  3.0 - Widget Style
# -  4.0 - Gallery Style


*/
/*==========================================================
		1.0 - General Style
==========================================================*/
body{
	word-wrap: break-word;
	word-break: break-word;
}
.pagination li span {
	border: 1px solid transparent;
    color: #c53746;
    border-radius: 0;
}
.pagination li span.current{
    background: #fdf7f7;
    border: 1px solid #fdecee;
    color: #c53746;
}
.pagination li span.current:hover{
	background: #fdf7f7;
    border: 1px solid #fdecee;
    color: #c53746;
}
.side-bar ul.social-icons li{
    display : inline;
    display: inline-block;
    padding-left: 10px;
}
.error_404 {
    text-align: center;
}
.error_404 .error_code {
    color: rgba(197, 55, 70, 1) none repeat scroll 0% 0%;
    display: block;
    font-size: 107px;
}
.error_404 .error_text {
    font-size: 30px;
    display: block;
    margin-top: 69px;
}
.error_404 a {
    background: rgba(197, 55, 70, 1) none repeat scroll 0% 0%;
    color: white;
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
}
.error_404 a:hover{
    color: rgba(197, 55, 70, 1);
    background-color: white;
    border: 1px solid #D32931;
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
}
#search_align {
    text-align: center;
}
.footer-left ul li {
    font-size: 18px;
    line-height: 18px;
    color: #717171;
    display: inline; ;
    padding-right: 8px;
}
/*================== wp test markup style(start) ===============*/
 .side-bar  aside.widget_archive li:before, 
 .side-bar  aside.widget_recent_comments li:before, 
 .side-bar  aside.widget_meta li:before, 
 .side-bar  aside.widget_pages li:before, 
 .side-bar  aside.widget_categories li:before, 
 .side-bar  aside.widget_nav_menu li:before {
    content: "\3d";
    font-family: 'ElegantIcons';
    position: absolute;
    left: 0;
    color: #c53746;
}
.blog-single article{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:30px;
	word-break: break-word;
}
.blog-single .post-desk,
.blog-details .post-desk {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.blog-single .sticky, 
.sticky .blog-details {
    border: 2px solid #b9404d;
}
.single article li {
	margin-top:15px;
	margin-bottom:15px;
   
	line-height:20px;
}
.navigation.post-navigation .nav-links .nav-previous a, 
.navigation.post-navigation .nav-links .nav-next a {
    background: #ce5461;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
}
.navigation.post-navigation .nav-links .nav-next {
    float: right;
	display: inline-block;
}
.navigation.post-navigation {
    margin-bottom: 60px;
}
.single .logged-in-as a{
	
    color: #404040;
}
.side-bar .recentcomments a,
.single .page-header h2{
	word-break: break-word;
}
.side-bar img{
	height:auto;
}
button, input, select, textare {
    max-width: 100%;
}
.side-bar .widget_tag_cloud .tagcloud a {
    display: inline-block;
    background: #f6f6f6;
    color: #222222;
    font-size: 14px !important;
    padding: 7px 11px;
    margin-bottom: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.side-bar .widget_tag_cloud .tagcloud a:hover {
    background: #ce5562;
    color: #ffffff;
}
.side-bar aside li:first-child {
	margin-top:15px;
}
table,
th,
td {
  border: 1px solid #d1d1d1;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}

td {
  border-width: 0 1px 1px 0;
}

th,
td {
  padding: 0.4375em !important;
}
.side-bar a,
.blog-single a,
.blog-single .admin-family span a{
	color: #404040 ;
}
.blog-single .admin-family span a:hover,
.blog-single a:hover{
	color: #c53746;
}
.comment-data{
	display:table;
}
dl {
  margin: 0 0 1.75em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 1.75em;
}

.single article ul li {
    margin-left: 20px;
    line-height: 18px;
    margin-bottom: 15px;
}


.single.single-post {
	padding: 0;
}
.sticky{
	
}
.alignnone {
    margin-top: .5em;
    margin-bottom: .5em;
	display: block;
    height: auto;
    max-width: 100%;
}
.alignleft {
	float: left;
    margin: .5em 20px .5em 0;
}
.alignright {
    float: right;
    margin: .5em 0 .5em 20px;
}
.aligncenter {
    display: block;
    float: none;
    margin-top: .5em;
    margin-right: auto!important;
    margin-bottom: .5em;
    margin-left: auto!important;
}
.wp-caption {
    margin: 0 0 20px 0;
    padding-top: 4px;
    max-width: 100%;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
            border-radius: 3px;
    border-image: initial;
    background-color: #ddd;
    text-align: center;
}
 .wp-caption img {
    max-width: 98%;
    height: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}
.entry-content img {
    max-width: 100%;
    height: auto;
}
.gallery-caption{
	
}
.screen-reader-text{
	
}
.sticky{
	
}
table {
	background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #ddd #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid solid none;
    border-width: 0;
    margin: 20px 0;
    width: 100%;
}
table {
    margin: 20px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	table-layout: fixed;
}
table td ,table th{
	padding: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
    line-height: 18px;
}
.breadcrumb {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.02em;
}
.breadcrumb {
	margin-left: 0 !important;
}

figure.gallery-item {
	float:left;
	width: 30%;
    margin: 15px 1%;
}
figure figcaption {
	margin-top:15px;
	margin-bottom: 15px;
}
.gallery{
	display:inline-block;
}
select{
    max-width:100%;
}

/*==========================================================
		2.0 - 404 page Style
==========================================================*/

.error_404 {
	text-align:center;
	
}
.error_404 .error_code{
	color: rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 80px;
	line-height: 100%;
	padding: 15px 0;
}
.error_404 .error_text{
	font-size: 24px;
	display: block;
	color: rgba(0, 0, 0, 0.7);
}
.error_404 a{
	margin-top: 20px;
	color: #fb0d29;
}
.error_404 a:hover{
	color: #0ec7ef;
}
.navbar-brand img{
	margin:0px;
}

/*==========================================================
		3.0 - Widget Style
==========================================================*/

.textwidget img{
	height:100%;
	width:100%;
}
.textwidget select{
	width:100%;
}
.widget li ul {
	list-style: circle;
	padding-top: 10px;
	padding-left: 35px;
}

.widget li ul ul ul{
	padding-left: 5px;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}
.widget_tag_cloud a,
.post-tag-list a {
	font-size: 13px;
    color: #7b7b7b;
    border: 1px solid #cfcfcf;
    padding: 8px 10px;
    border-radius: 0;
    margin: 5px 1px;
}
aside.widget li i{
	margin-right:5px;
}
.widget_archive label.screen-reader-text,
.widget_categories label.screen-reader-text {
	display: none;
}
.widget_rss .fa {
	display: none;
}
.widget_rss a {
	margin-bottom: 10px;
	font-size: 16px !important;
	line-height: 24px;
	color: #636363;
	font-weight: 500 !important;
}
.widget_rss cite {
	margin-top: 15px;
	display: inline-block;
}
.widget_rss li {
	margin-bottom: 25px !important;
}
.widget_tag_cloud a {
	font-size: 13px !important;
}
.widget .rssSummary {
	line-height: 24px;
	margin-top: 10px;
	font-weight: 300;
}
.widget_text p {
	margin-bottom: 0;
}
.widget_text p img {
	margin-bottom: 20px;
}
.widget_text p strong {
	margin-bottom: 10px;
	display: inline-block;
}
.widget .wp-caption-text {
	padding: 10px 0px;
}
.widget > ul > li {
	display: table;
}
.widget > ul > li .fa {
	display: table-cell;
	vertical-align: top;
	padding-top: 3px;
	width: 20px;
}
.widget > ul > li a {
	line-height: 20px;
}
.single .page-links {
    text-align: center;
    margin-bottom: 20px;
}
.post-password-form input[type='password'] {
    padding: 0 15px;
    border: 1px solid #c53746;
	line-height:30px;
}
.post-password-form input[type='submit'] {
    background: #c53746;
    outline: none;
    border: none;
    color: #fff;
    padding: 2px 15px;
	line-height:30px;
}
.comment-body h1{
	color: #404040;
}
,

.comment-content ol {
    margin-left: 15px;
    padding-left: 10px;
}


/*==========================================================
		4.0 - Gallery Style
==========================================================*/

.site-content .entry-meta > span {
    margin-right: 10px;
}
.entry-meta .tag-links a {
    background-color: #767676;
    border-radius: 0 2px 2px 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.2727272727;
    margin: 2px 4px 2px 10px;
    padding: 3px 7px;
    position: relative;
    text-transform: uppercase;
}



/*================== wp test markup style(End) ===============*/